[2021-04-02 08:24] knolleary opened #1 "Add RSS feed link"

[2021-04-02 08:24] knolleary opened #2 "Fix font size of blog home Vs blog post"

[2021-04-02 08:25] knolleary opened #3 "Fix sideways scroll of blog post on mobile"
Probably the code block overflowing

[2021-04-02 08:26] knolleary opened #4 "Attach background tile to top corner"
Prevent it jumping between page loads

[2021-04-02 08:26] knolleary opened #5 "Remove placeholder blog posts"

[2021-04-02 08:27] knolleary opened #6 "Add license and readme"
- [ ] License
- [x] Readme

[2021-04-02 09:23] #4 closed

[2021-04-02 09:30] #3 closed

[2021-04-02 09:31] #2 closed

[2021-04-02 10:36] #1 closed

[2021-04-02 10:36] #5 closed

[2022-01-20 08:14] ZJvandeWeg opened #20 "Render team page on our website"
While the team data is captured in this repository, it's not rendered on the website. I propose a team page with details about the team, and who's joined FlowForge.

[2022-01-23 10:51] Steve-Mcl opened #23 "Z index issue with menu when viewed on Mobile"
### Current Behavior

Rasing issue on behalf of paul-reed

Link: https://discourse.nodered.org/t/flowforge-mobile-site/57051

Menu renders below body text.

![Screenshot_20220123-104716](https://user-images.githubusercontent.com/44235289/150675039-5033194b-f511-4fa4-a67b-8599b2b1f258.jpg)

### Expected Behavior

Menu to be above body

### Steps To Reproduce

View [FlowForge site](https://flowforge

[2022-01-28 17:47] knolleary opened #26 "Building without handbook cloned locally fails"
### Current Behavior

The build tasks assume the handbook repo has been checked out locally so its contents can be incorporated in the build.

That works fine for the GH Action as we make sure everything is there as part of the action.

When running locally, that cannot be assumed.

There is an attempt to handle this in the `dev:handbook` task:
[code]
But doesn't look like its working as intended.

[2022-02-01 13:41] ZJvandeWeg opened #28 "Epic: Listing of Use-cases and solutions"
### Description

Provide a section on the website how Node-RED is used in the wild, and offer guidance on what Node-RED achieve.
1. https://flowforge.com/blog/use-case-solar-afloat/

[2022-02-09 10:22] joepavitt commented on #26
forgot to include the issue number in the commit message, fix pushed to `issue--handbook-build` branch: 8cec36c33b17399cf9f78f7ca105b75dc605c182

[2022-02-09 10:30] knolleary commented on #26
Fixed by #34

[2022-02-09 10:30] #26 closed

[2022-02-09 10:38] #23 closed

[2022-02-09 11:10] joepavitt commented on #20
Will we want any form of headshots for each team member here? We have the socials, job title and name, can also do "Employee Number" maybe?

[2022-02-09 12:54] joepavitt commented on #20
It's linked to via a `Team` option in the `Company` footer at the moment:

<img width="151" alt="Screenshot 2022-02-09 at 12 54 45" src="https://user-images.githubusercontent.com/99246719/153205290-28bdfb4c-264f-4ea7-9899-534b8cf605ff.png">

[2022-02-09 13:32] joepavitt commented on #20
If no particular feedback/requests for changes, then I'll open up a PR. I was toying with the idea of using @knolleary's gen code to have little avatar type flow art bits, but thought it'd get too busy for busy-sake.

Headshots would improve the general visual style imo, but appreciate that everyone may not want to do that.

[2022-02-09 13:35] sammachin commented on #20
My job title changed to 'Community Product Manager' end of last year

[2022-02-09 13:43] joepavitt commented on #20
Open to preferences/opinions on left/center align on the mobile view btw. With headshots in, definitely left-align as the headshot would sit nicely to the left of the content. Without, I think the content looks better center aligned, but not without the page header also being center aligned (which isn't a change I'm comfortable making as it'll effect every other page)

<img width="416" alt="Screen

[2022-02-09 16:19] #20 closed

[2022-02-15 09:44] ZJvandeWeg opened #38 "Cloud SaaS Messaging"
### Description

Now we're transitioning from a 'stealth startup' to having an open source product with a "Launching soon" SaaS offering, our website and messaging needs updating.

Visitors will want to understand what problem we're solving, and what our solution is to the problem.

Calls to actions need to include:
- Installing FlowForge (For hobbyists and on-premises)
- Invite-list for ff.cloud

[2022-02-16 13:53] knolleary opened #40 "Include generated platform docs on website"
We maintain the docs for the core platform in the main repo here: https://github.com/flowforge/flowforge/tree/main/docs

We should have a means to incorporate those docs on the website to make them easier to browse and more accessible.

 - They should be versioned against individual releases
 - By default, users should be taken to the current stable release
 - There should be the 'latest' docs tak

[2022-02-23 08:32] ZJvandeWeg commented on #40
They should be versioned against individual releases
By default, users should be taken to the current stable release
There should be the 'latest' docs taken from the main branch (ie, in the under-development version)

I suggest we iterate on this, and first just deploy 1 version only. That gets us going faster.

Other than that, I think we should assign this task to a milestone @sammachin.

[2022-02-23 13:57] sammachin commented on #40
Agreed, Help Docs are in the roadmap for 0.3 so I've added it to that and I'll work on it in the next week or so

[2022-03-09 08:51] ZJvandeWeg opened #48 "Rebrand the website"
### Description

As we're unifying the FlowForge platform and our website in terms of branding, the website will need an update.

[2022-03-09 08:51] ZJvandeWeg commented on #48
cc @joepavitt

[2022-03-09 08:56] ZJvandeWeg opened #49 "Product page"
### Epic

#48

### Description

### As a: Potential customer

### I want to: View the product page

### So that: I understand what I'm buying

### Acceptance Criteria

- [x] Top level navigation to the page
- [x] Page includes our product, it's features, and price

[2022-03-09 09:06] joepavitt commented on #49
@sammachin do you have any material for content of this page already put together? Or general thoughts?

[2022-03-09 09:22] ZJvandeWeg opened #50 "Link to the blog post"
### Epic

#48

### Description

### As a: Website visitor

### I want to: view what's up on the landing page

### So that: I can easily access the latest news

### Acceptance Criteria

- [ ] Link from the home page with teaser (Part until <!--- more !> in the markdown) to the blog post

[2022-03-09 10:03] sammachin commented on #49
Only the notes from the work we did in Bristol, so where we captured the different ways that FlowForge is offered, Cloud vs Self Managed etc.

[2022-03-09 14:17] joepavitt commented on #49
Given that we only have the Self Managed (CE) and Public (Cloud) offerings at the moment, could we put together a high level 5 bullets of key messages we want to communicate on this page please?

Bristol Meeting Notes: https://www.figma.com/file/wKVJiKza0f572njbMSaUb4/Bristol-Team-Meeting?node-id=0%3A1

Also a reminder to include any particular examples you've seen, and liked, here: https://www.fi

[2022-03-09 14:20] ZJvandeWeg commented on #49
The focus should only be on our own offering, maybe a link to the open source code, but our public cloud offering is what we're selling.

Sam will correct me, but right now we offer:
* A hosted and managed Node-RED in the cloud
* Audit logging
* Role based access control
* Multi-tenency.

[2022-03-09 14:21] sammachin commented on #49
Do we want to present the Enterprise Cloud & Self Managed options even if they're 'coming soon/contact sales' to assess demand and help to present our overall positioning?
There's nothing that would prevent us running an enterprise cloud instance today if there was a customer even if the initial feature set was the same as the others

[2022-03-09 15:45] sammachin commented on #49
My view is that the Product Page presents all 4 options, with different CTA's
FlowForge Cloud - Request Invite/Sign Up (as appropriate)
FlowForge Enterprise Cloud - Contact Us (email)
Self Managed CE - Link to GitHub Installer Instructions
Sef Managed EE - Contact Us (email)

[2022-03-09 17:13] knolleary commented on #49
@sammachin that fits with what we sketched in Bristol.

It would be super helpful, with your Product hat on, to write up a one-sheet on this that Joe can pull from.

[2022-03-09 20:22] sammachin commented on #49
Something I just spotted on zapier.com/pricing:
Even though they bill you in USD they allow you to switch and show the prices in your local currency with a disclaimer about how it will vary with exchange rate, presumably they pull in some XR data and do the conversion in the browser.
I'm undecided if this is a good thing or not in terms of UX?
![image](https://user-images.githubusercontent.com/187

[2022-03-10 08:48] joepavitt commented on #49
I'm not sure either to be fair. I'm swaying towards including it.

[2022-03-10 09:05] joepavitt commented on #49
@knolleary @ZJvandeWeg @sammachin I've started to put together a feature list:

https://docs.google.com/spreadsheets/d/1HgcnMYYglP7rT_uKPpxhHpOSVhpjOrRGXrdG0I_b1s8/edit#gid=0

worth us getting together on a call to iron that out?

[2022-03-11 09:45] ZJvandeWeg commented on #49
Had a call yesterday, initial draft of the page:

![Screenshot 2022-03-11 at 10 44 14](https://user-images.githubusercontent.com/2529595/157842727-13601ced-6d48-47bf-9659-0175dc33a91d.png)

[2022-03-15 12:02] joepavitt opened #51 ""About" Page"
### Epic

#48

### Description

### As a: potential employee or customer

### I want to: learn more about FlowForge

### So that: I can understand the type of company that FlowForge is, what they stand for, and understand their underlying principles and philosophies.

### Acceptance Criteria

- [x] Layout Design
- [x] Visual Design - Hero Pictogram (#)
- [x] #53
- [x] #55
- [x] #52
- [x] #54

[2022-03-15 12:05] joepavitt opened #52 "About - Company Philosophies (Content)"
### Story

#51

### Description

Need to agree on a list of 5/6 key "Company Philosophies" a a preview to the handbook. We should be targeting prospective employees and customers here.

Current proposed list:

- Community
- Be Trusting
- Use Candor
- Fully Remote
- Unlimited Vacation
- ... Other Company Benefit

Propose design/layout on the About page is as follows:

<img width="685" alt="Screensh

[2022-03-15 12:07] joepavitt opened #53 "About - Hero Text"
<img width="1749" alt="Screenshot 2022-03-15 at 12 07 19" src="https://user-images.githubusercontent.com/99246719/158374484-6bf4ffa1-dddf-4e08-9dc6-1b4a082f55e5.png">

Hero content currently reads:

[2022-03-15 12:10] joepavitt opened #54 "About - Company Philosophies (Pictograms)"

[2022-03-15 12:12] joepavitt opened #55 "About - Two Leading Points (Content)"
Need to agree/define two leading points we want to call out on our "About" page. Current layout.design shows "OpenJS" and "Open Governance":

<img width="855" alt="Screenshot 2022-03-15 at 12 13 01" src="https://user-images.githubusercontent.com/99246719/158375400-c718c4a2-dd78-404a-9f0c-b87fb68d77a3.png">

[2022-03-15 14:51] joepavitt commented on #52
Company Values:
- Candor
- Trust
- Community
- Bias for Action / Fail Fast
- Diversity
- Optimism

[2022-03-15 14:53] joepavitt commented on #52
Employee Benefits / The way we work:

- Fully Remote
- Unlimited Holiday
- Equipment (Laptop, Monitor, etc.)
- Unlimited Sickpay ?
- Maternity / Paternity Leave ?
- Private Healthcare (US Only) ?

[2022-03-16 16:02] joepavitt commented on #54
Updated pictograms for existing employee benefits & company values as per handbook:

<img width="943" alt="Screenshot 2022-03-16 at 16 02 04" src="https://user-images.githubusercontent.com/99246719/158633900-96a55c6d-521e-45f3-9040-78f05869974e.png">

[2022-03-16 17:35] joepavitt commented on #54
Alternative Bias for Action image:

<img width="302" alt="Screenshot 2022-03-16 at 17 34 40" src="https://user-images.githubusercontent.com/99246719/158652323-42da361f-150f-4dd0-afab-a35ea690b13d.png">

[2022-03-17 10:55] joepavitt commented on #49
New Design

<img width="601" alt="Screenshot 2022-03-17 at 10 54 44" src="https://user-images.githubusercontent.com/99246719/158794434-91b20f20-eab6-48de-871f-8953b0ccec17.png">

[2022-03-17 10:59] sammachin commented on #49
maybe a clock icon for "coming soon" ?

[2022-03-17 11:00] sammachin commented on #49
I like it, one first impression thing, the node & line under the $10 price initial made me thing it was a slider that I should drag to change the pricing

[2022-03-17 11:01] joepavitt commented on #49
Great feedback - will probably get rid of the node part of that and keep the gradient

[2022-03-17 17:18] knolleary opened #60 "Restructure blog posts"
For some reason I decided it was okay for all blog posts to live in a single directory with no convention for filename and/or ordering.

It would be better to have them them more organised - but to do so will change the URL they are published to. We either need to make the reorg still generate the original URLs, or put redirects in place from old to new url.

Options:

1. `src/blog/YYYY-MM-DD-titl

[2022-03-17 17:27] joepavitt opened #61 "Landing Page"
### Epic

#48

### Description

### As a: prospective customer

### I want to: see what FlowForge offers as a company

### So that: I can easily decide whether FlowForge is something of interest to me or not.

### Acceptance Criteria
Agree on the text belonging in:
- [x] #62
- [x] #64
- [x] #65
- [ ] https://github.com/flowforge/website/issues/50

[2022-03-17 17:33] joepavitt commented on #61
<img width="1122" alt="Screenshot 2022-03-17 at 17 28 59" src="https://user-images.githubusercontent.com/99246719/158860694-60311d70-f24f-4b8c-b636-e6686294197f.png">

[2022-03-17 17:33] joepavitt opened #62 "Landing - Hero Tagline"
Agree on a Hero tagline for the landing page of the website. Currently, we have:

and previously had:

see #61 for where this will sit in the page design

[2022-03-17 17:34] joepavitt opened #63 "Landing - Hero Secondary Tagline"
Agree on text to fill the secondary tagline. Currently we have:

and previously have had:

see #61 for where this will sit in the page design

[2022-03-17 17:37] joepavitt opened #64 "Landing - Follow-up Tagline"
Agree on a follow-up tagline for the landing page of the website. We have no variation of this as things stand, so need new text.

see #61 for where this will sit in the page design

[2022-03-17 17:40] joepavitt opened #65 "Landing - 3 key highlights about FlowForge"
Need to define 3 key points we want to call out re: FlowForge. Ideally advertising the top points as to why someone would be interested in using FlowForge Cloud.

Currently, in the design we have:

see https://github.com/flowforge/website/issues/61 for where this will sit in the page design

[2022-03-17 19:25] ZJvandeWeg commented on #61
@joepavitt Don't forget https://github.com/flowforge/website/issues/50 in the list of acceptance criteria.

[2022-03-17 22:27] knolleary commented on #63
See my comment in #62 - I don't think this can be discussed in isolation.

[2022-03-18 08:52] joepavitt commented on #63
Agreed - will close this, and we can move discussion to #62

[2022-03-18 08:52] #63 closed

[2022-03-18 09:04] joepavitt commented on #62
Some other options:

I agree re: sentiment of Node-RED, and the secondary hero line should emphasise the "applications", "devices", "integration" buzzwords

[2022-03-18 09:54] ZJvandeWeg commented on #62
This was made as I anticipated our first users would sign up for that. As always, open to iterating.

In terms of the hero. I'd like to set us apart not against other Node-RED providers, but against No-Code/Low-Code competition. In such cases the main difference isn't collaboration, but how easy it is to connect the digital world with the physical. Yesterday I was going over the nodes library for

[2022-03-18 11:03] joepavitt opened #66 "Landing - Welcome/Intro Video"
### Story

#61

### Description

On the Landing Page, we should have a short video, or quick walkthrough of the high-level features of FlowForge (and in particular FlowForge Cloud). We can iterate on this video, and make it shinier in the future, but I'm always a big fan of showing off screenshots/usability on a home page. I'm suspicious of products/companies that advertise heavily and use buzzwor

[2022-03-18 11:28] sammachin commented on #40
Added Cloud and Billing docs to GH but still need to embed docs in website

[2022-03-23 17:13] #60 closed

[2022-03-24 09:25] ZJvandeWeg commented on #66
First iteration of this might just be @knolleary with the recording for 0.1?

[2022-03-24 09:32] ZJvandeWeg commented on #51
First iteration idea: Link the handbook about company page. While not ideal, the handbook is most up-to-date.

[2022-03-24 09:35] joepavitt commented on #51
Do have this operational so far, if we can agree on text, I'd argue this was a much better first iteration to aim for:

https://user-images.githubusercontent.com/99246719/159886758-8eec6664-eba6-4607-b4a2-a4fccf0298e5.mov

[2022-03-24 09:35] ZJvandeWeg commented on #51
:shipit: Agreed

[2022-03-24 09:38] joepavitt commented on #52
As per the current version of the Handbook, we have the following:

**Company Values**
- Community First
- Apply Optimism
- Use Candor
- Results, Not Hours
- Bias for Action
- Be Trusting

**Employee Benefits**
- Fully Remote
- Unlimited Vacation
- Flexible Hours
- Equipment
- Paid Parental Leave

[2022-03-30 13:23] #52 closed

[2022-03-30 16:48] joepavitt commented on #65
Added with the most [recent commit]([e2c5b96](https://github.com/flowforge/website/commit/e2c5b96ea86741a3203de31d62aea990e855a3f3)): <img width="1022" alt="Screenshot 2022-03-30 at 17 47 57" src="https://user-images.githubusercontent.com/99246719/160888572-14058f05-a0ed-4777-9c79-45fe2842c594.png">

[2022-03-30 16:49] joepavitt commented on #64
Added with the most recent commit. Follow up tagline, currently "FlowForge Cloud" - [e2c5b96](https://github.com/flowforge/website/commit/e2c5b96ea86741a3203de31d62aea990e855a3f3): <img width="1022" alt="Screenshot 2022-03-30 at 17 47 57" src="https://user-images.githubusercontent.com/99246719/160888572-14058f05-a0ed-4777-9c79-45fe2842c594.png">

[2022-03-30 16:49] joepavitt commented on #66
Added in 0.1 video for now - [e2c5b96](https://github.com/flowforge/website/commit/e2c5b96ea86741a3203de31d62aea990e855a3f3): <img width="1022" alt="Screenshot 2022-03-30 at 17 47 57" src="https://user-images.githubusercontent.com/99246719/160888572-14058f05-a0ed-4777-9c79-45fe2842c594.png">

[2022-03-31 11:39] joepavitt commented on #55
<img width="1036" alt="Screenshot 2022-03-31 at 12 37 49" src="https://user-images.githubusercontent.com/99246719/161046464-60404c50-c720-4303-ab9e-3639189e1866.png">

@knolleary I've changed the two leading points to "Node-RED" and "Open Source". The left will discuss out NR foundations, then the right will be a summary of our own philosophies and drive in the open source community.

I removed th

[2022-03-31 11:51] knolleary commented on #55
How's this?

[2022-03-31 11:52] joepavitt commented on #55
Yep, much prefer that to the current iteration. Will update. Thanks

[2022-03-31 11:53] joepavitt commented on #55
<img width="940" alt="Screenshot 2022-03-31 at 12 53 20" src="https://user-images.githubusercontent.com/99246719/161048890-9d499644-e60e-4ee8-afc4-b49e0cc4a1f0.png">

Updated. We may want to balance the text amount on each side, but it's good for now.

[2022-03-31 15:46] joepavitt commented on #49
Product page hero image:

<img width="901" alt="Screenshot 2022-03-31 at 16 45 49" src="https://user-images.githubusercontent.com/99246719/161096135-4b58e947-b9db-43ba-b644-471e18f8fb27.png">

[2022-04-04 16:13] ZJvandeWeg opened #72 "Cookie consent on every page"
### Current Behavior

Prompted to allow consent of cookies on every page. Happening on Android, Chrome

### Expected Behavior

Accepting once should save the state.

### Steps To Reproduce

_No response_

### Environment

- FlowForge version:
- Node.js version:
- npm version:
- Platform/OS: Android
- Browser: Chrome

[2022-04-04 16:47] ZJvandeWeg commented on #72
Got this report from Joe through Slack, didn't reproduce myself either.

[2022-04-05 06:56] ZJvandeWeg opened #76 "Link to "Sign in" page of app.flowforge.com"
On our website, there's no convenient way to go to the product itself.

Users are expected to know where to sign in. To fix this, I propose a top level sign in navigation item.

[2022-04-05 07:32] joepavitt opened #78 "Landing - Welcome/Intro Video"
### Epic

_No response_

### Description

### As a: visitor to the website

### I want to: get a quick overview of what FlowForge looks like

### So that: I can get an insight into what the platform offers and whether or not I would be interested in using it

Follow on from the 0.1 video currently being used as a placeholder from #66

### Acceptance Criteria

- [x] Storyboards of the video (should

[2022-04-05 07:39] #62 closed

[2022-04-05 07:39] #64 closed

[2022-04-05 07:40] #65 closed

[2022-04-05 07:41] joepavitt commented on #61
@ZJvandeWeg have closed this as I'm happy with our Landing page design as things stand. We link to the blog/news in the header in the top-right, although do not offer a direct preview of the latest blog post on the home page, as things stand. I'm not sure where I would want this to live on the landing page at the moment, but will have a think about it, come up with some designs and move forward fr

[2022-04-05 07:47] #61 closed

[2022-04-05 07:47] #51 closed

[2022-04-05 07:48] #49 closed

[2022-04-05 07:49] joepavitt commented on #72
hmmm... no longer happening for me either. I message ZJ last night as it was an issue on my phone. Will close for now.

[2022-04-05 07:50] #66 closed

[2022-04-05 07:50] #53 closed

[2022-04-05 07:50] #55 closed

[2022-04-05 07:51] joepavitt commented on #48
Merged into `main` through: https://github.com/flowforge/website/commit/9ee2b4102a7dfa1e19a68393c64cb5dcff6581b8

[2022-04-05 07:51] #48 closed

[2022-04-05 07:55] joepavitt opened #79 "Product Page - Mobile"
### Current Behavior

Mobile view of the product page looks "unfinished". The two single lines of text don't blend well with the surrounding content either.

Considerations:
- Can we include the imagery/pictogram in the mobile view of the `page.njk` layout
- Can we modify the content/description to suit the surrounding content better

[2022-04-05 07:57] joepavitt commented on #79
Current mobile view:

<img width="389" alt="Screenshot 2022-04-05 at 08 53 39" src="https://user-images.githubusercontent.com/99246719/161706458-07784d76-ed01-4ff1-a0ee-5a08b7af82c2.png">

Current tablet view (with pictogram):

<img width="1118" alt="Screenshot 2022-04-05 at 08 53 49" src="https://user-images.githubusercontent.com/99246719/161706465-afa5856a-c204-44a8-a07e-e5122b4cef6b.png">

[2022-04-05 08:08] #76 closed

[2022-04-05 08:17] joepavitt opened #80 "Default Blog Post Styling"
### Current Behavior

- Writing a blog post with interactive components at the moment requires knowledge of the relevant underlying `forge-ui-components` classes.
- As such, just including a `<button></button>` element, or `<input type="text" />` causes inconsistent styling with other elements in the website, e.g:

<img width="1050" alt="Screenshot 2022-04-05 at 09 14 14" src="https://user-images.

[2022-04-05 08:20] joepavitt commented on #72
Okay, it's definitely happening to me, although no with Chrome on a Mac. I've noticed it's when Chrome flags the site as "Not Secure". Sometimes it does that, and sometimes it doesn't. Any ideas @knolleary or @hardillb?

https://user-images.githubusercontent.com/99246719/161710567-9dd2a914-ed40-4a79-90bf-9f65347c21d8.mp4

[2022-04-05 08:23] joepavitt opened #81 "Inconsistent Hero Styling"
### Current Behavior

On the blog page, the hero title/subtitle/description styling differs to others and it notices. Personally think the blog styling is cleaner, although I want to change the subtitle to be `color: white`.

Blog Post Hero:
<img width="356" alt="Screenshot 2022-04-05 at 09 21 18" src="https://user-images.githubusercontent.com/99246719/161710789-b2e8353b-9f75-410d-b172-c8a40fee1c7

[2022-04-05 08:52] joepavitt commented on #81
<img width="414" alt="Screenshot 2022-04-05 at 09 52 13" src="https://user-images.githubusercontent.com/99246719/161717062-b7596c6e-c395-41ee-b14a-af8e9ae73799.png">
<img width="417" alt="Screenshot 2022-04-05 at 09 52 22" src="https://user-images.githubusercontent.com/99246719/161717071-93a958b0-2630-444f-be5d-d8bafccaaabc.png">

[2022-04-05 09:58] sammachin commented on #72
GitHub Pages is serving the content for `http://flowforge.com` rather than redirecting to `https://` so the insecure thing will depend on if/how your Chrome is requesting the URL, I can't seem to make my Chrome load the plain http version though.

I can load plain http if using incognito mode however the cookie warning doesn't re-appear for the duration of that session

[2022-04-05 11:33] joepavitt commented on #80
pausing this for now, as prioritising `forge-ui-components` for the Platform. Will consider having a "website" theme as part of the `forge-ui-components`

[2022-04-05 12:07] #81 closed

[2022-04-05 14:18] joepavitt opened #84 "404 Page Styling"
### Current Behavior

<img width="1043" alt="Screenshot 2022-04-05 at 15 17 24" src="https://user-images.githubusercontent.com/99246719/161774633-e564114e-a644-4c94-8e2f-d5d214a40a05.png">

### Expected Behavior

Something that looks better than this.

### Steps To Reproduce

Navigate to any URL at flowforge.com that is not a valid page URL.

[2022-04-06 10:36] joepavitt commented on #40
I want to include reference to the current version of the platform from which the docs have been taken. Any recommendations on how best to do this? Parsing the `flowforge/package.json`? Or is there is a `git` command I can utilise here?

[2022-04-07 08:29] joepavitt opened #86 "Breadcrumb styling"
### Current Behavior

<img width="689" alt="Screenshot 2022-04-07 at 09 28 22" src="https://user-images.githubusercontent.com/99246719/162155742-9f2a959d-bfae-41eb-9590-e4741d79fc28.png">

### Expected Behavior

Should be padding between the text and `/`

### Steps To Reproduce

_No response_

### Environment

- FlowForge version:
- Node.js version:
- npm version:
- Platform/OS:
- Browser:

[2022-04-07 08:32] Steve-Mcl opened #87 "Clicking **About** results in 404, clicking **Values** goes nowhere"
### Current Behavior

On the page https://flowforge.com/handbook/company/ ...
* Clicking **About** results in 404
* Clicking **Values** does nothing

### Expected Behavior

_No response_

### Steps To Reproduce

* Navigate to https://flowforge.com/handbook/company/
* click the **About** link
* click the **Values** link

### Environment

- FlowForge version: NA
- Node.js version: NA
- npm version:

[2022-04-07 08:33] knolleary commented on #87
Fixes for this will be in the flowforge/handbook repository as that's where the content for those pages live.

[2022-04-07 08:34] Steve-Mcl commented on #87
@knolleary Joe asked for it to be raised here

[2022-04-07 08:36] knolleary commented on #87
No problem - just pointing out the content of the pages in question aren't in this repo.

This might be a bug in the way the website repo generates the HTML from the markdown source - and has to remap links. But occams razor suggests the the broken links are in the origin src :)

[2022-04-07 08:38] Steve-Mcl commented on #87
Also noticed this...

![image](https://user-images.githubusercontent.com/44235289/162157595-657e5495-2b17-4ee8-adfa-53271f13ed15.png)

maybe related #84 ?

[2022-04-07 14:55] joepavitt commented on #79
new language, and inclusion of pricing.

<img width="376" alt="Screenshot 2022-04-07 at 15 55 40" src="https://user-images.githubusercontent.com/99246719/162228729-98f91b72-f8bf-427e-b47c-61755cf7ad26.png">

[2022-04-07 15:38] joepavitt commented on #84
<img width="414" alt="Screenshot 2022-04-07 at 16 37 27" src="https://user-images.githubusercontent.com/99246719/162237835-e38a9dc9-0c62-482e-83a1-be1a8de9a89d.png">

[2022-04-07 15:52] #84 closed

[2022-04-07 16:15] joepavitt commented on #87
okay, a little gotcha for the future, and one we may want to work out a cleaner `copy_handbook.sh` for:

The files in the `/website/handbook/` folder:
<img width="165" alt="Screenshot 2022-04-07 at 17 13 05" src="https://user-images.githubusercontent.com/99246719/162249354-cd73749c-0b64-42ad-ab05-2699d6288209.png">

The files in the `handbook` repo on `main`:
<img width="149" alt="Screenshot 2022-

[2022-04-08 08:08] #40 closed

[2022-04-08 08:09] #87 closed

[2022-04-08 08:45] joepavitt commented on #86
The breadcrumbs do have Tailwind's `mx-2` class added to them:

<img width="1592" alt="Screenshot 2022-04-08 at 09 44 56" src="https://user-images.githubusercontent.com/99246719/162399820-8898e0cb-a678-4f65-9036-595a5a597108.png">

but somehow, we don't get the class recognised in the prod build. Works without any issues locally. Requires further investigation into the difference between how the t

[2022-04-08 08:48] #79 closed

[2022-04-08 17:35] ZJvandeWeg opened #91 "Product page feedback"
### Current Behavior

1. Ticks are sometimes red. Which can be associated with 'bad'. While the feature is there and works
2. There's no legend explaining what the tick means, but more importantly the clock.
3. Consider splitting the page into "product" and "pricing"

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

- FlowForge version:
- Node.js versio

[2022-04-12 08:33] joepavitt opened #92 "Images not loading in /docs"
### Current Behavior

https://flowforge.com/docs/admin/

Images are not loading correctly from within the `/docs` path of the website. These are loaded from the [flowforge/docs](https://github.com/flowforge/flowforge/tree/main/docs) repo.

The image paths likely need to be re-written in order to load from the correct base path. This was recently achieved for the handbook with this line:

https://g

[2022-04-13 08:16] hardillb opened #93 "Write 0.4.0 Release Blog Post"
### Story

_No response_

### Description

Write announcement blog post for 0.4.0

[2022-04-14 13:40] #93 closed

[2022-04-18 02:48] PLCMercenary commented on #92
@joepavitt, I was trying to follow your advice and I located the `str.replace` for the handbook as an `eleventyConfig.addFilter`.  I tried to replicate this with another block to replace Doc links with no success.

I found that the replaceHandbookLinks filter is called in the `src/_includes/layouts/Handbook.njk` with a template that pipes content to the regex and then to safe. I am not sure what t

[2022-04-19 14:54] knolleary opened #96 "Pickup latest released docs rather than main branch"
With #85 we now pull in the flowforge docs automatically.

We should pull in the latest tagged release, rather than main. This allows us to continue merging updates in main for the *next* release without them getting published to the website .

[2022-04-19 15:38] #96 closed

[2022-04-22 09:08] joepavitt opened #98 "Write 0.5.0 Release Blog Post"
### Story

_No response_

### Description

Write announcement blog post for 0.5.0

[2022-04-22 09:23] joepavitt commented on #92
Great work on finding the `addPassthroughCopy`. Is it worth having something like `"src/**/images"` to prevent us needing to add exceptions for all new folders if we get new pages, etc.

Not sure I've put the correct syntax there, but that should be about right?

[2022-04-22 13:58] ZJvandeWeg opened #99 "List community edition on the product page"
### Story

_No response_

### Description

Previously it was decided to only list the commercial editions on our product page. Have received 2 questions so far why the open source variant isn't listed. As such, I feel it should be added.

[2022-04-22 13:59] ZJvandeWeg commented on #91
cc @joepavitt would appreciate your input here.

[2022-04-22 14:29] joepavitt commented on #91
Thanks ZJ. There should be hover behaviour on the different icons explaining what each of the icons refer to, but it appears that isn't working.

RE; the colour/red, whilst I acknowledge the connotation of red to negativity (although, the opposite in Asia), it is our primary colour scheme.

RE: Splitting - I agree.

[2022-04-27 07:59] joepavitt commented on #92
@PLCMercenary can you open a PR for this please, and we can get it merged

[2022-04-28 04:55] ZJvandeWeg opened #101 "Blog about bots we're using at FF through Node-RED"
### Story

_No response_

### Description

To start building content and use-cases, I propose to write what bots we currently got and how these were implemented. That allows our customers to understand part of the value of FlowForge and Node-RED and copy our implementation.

[2022-04-29 20:43] Steve-Mcl commented on #101
@joepavitt @ZJvandeWeg it is certainly my intention to give the outdated nodes some TLC soon (after dust of be settled)

[2022-05-01 18:35] joepavitt commented on #101
Could work as a nice reason to publish too, get some attention in the NR community with it.

"Updated Twitter and Slack nodes, oh and here is how we are using them at FF"

[2022-05-05 07:42] joepavitt commented on #91
@ZJvandeWeg @sammachin what content do we want to be focussing on with the "product" page, if we're pulling "Pricing" out as standalone?

[2022-05-05 08:04] sammachin commented on #91
At this stage I'm not sure we have enough to split the product and pricing into separate pages, there's still only one price point and 2 'flavours' of the product.

I do think the price should be more prominent. at the moment you have to scroll quite a way down the product page, to see it.
I think the problem we need to solve is "Our pricing isn't obvious" but I don't think a separate page is the

[2022-05-05 08:06] joepavitt commented on #91
We could follow the [tyk approach](https://tyk.io/price-comparison/), which has a "Platform" and "Pricing" split. Feel like tat suits us more. Focus on FlowForge, it's features and what it offers on the "Platform", then the "Pricing" does what is says on the tin.

[2022-05-05 08:13] sammachin commented on #91
so in effect our existing table on product becomes the pricing page and there's a new platform page which goes into more detail about the features?
That could work

[2022-05-05 09:15] joepavitt commented on #99
New table WIP design with 3 columns (and CE included):

<img width="988" alt="Screenshot 2022-05-05 at 10 13 56" src="https://user-images.githubusercontent.com/99246719/166894563-8a1344a3-2937-4344-9268-60059b70de95.png">

Need to add flourish around the table itself, and I haven't completely settled in icons/colours, but all feedback welcome

[2022-05-05 09:25] sammachin commented on #99
We don't yet have a firm decision on some of the coming soon features being CE/EE so I'm a little nervous about saying something like Shared Team Library being coming soon to CE if we then decide to make that an EE feature?

[2022-05-05 09:26] sammachin commented on #99
I still think we should be going for the original 4 flavours presentation here, either with the switch between hosted/self managed or all 4 on one table.

[2022-05-05 10:26] joepavitt commented on #99
Would you like the relevant rows removed entirely? Or variation of messaging/style?

[2022-05-05 10:49] knolleary commented on #99
I would leave the rows in, just remove the icon for the CE column. Nothing stops us adding it back on a case-by-case basis as we firm up plans.

Couple other suggested tweaks:

 - What are our thoughts on renaming 'Coming soon' to 'On the roadmap' ? "Soon" is doing a lot of heavy lifting in terms of how quickly some of those features can be delivered.
 - Remove the 'Additional Cost' icon from the

[2022-05-05 10:53] sammachin commented on #99
Yup better to under promise on coming soon features for CE in my opinion.

[2022-05-05 10:55] joepavitt commented on #99
@knolleary have made all of those changed.

@sammachin - which "on the roadmap" features can I leave in CE, and which should I leave out for now?

[2022-05-05 10:56] sammachin commented on #99
I would take out all the "on the roadmap" icons from CE, it also helps to renforce the value in the paid offerings this way

[2022-05-05 10:57] sammachin commented on #99
`Available on Apache 2.0` doesn't quite sound right? how about `Open Source Licensed` or `Apache 2.0 Licensed`

[2022-05-05 11:09] joepavitt commented on #99
With new updates. @sammachin I've kept the 3 columns for now, as I know how much friction the tabbed system caused last time, I also like the unification of Enterprise into a single column for now too. As the offerings evolve and are more differentiated, then I'd be pro- switching back to 2 tabbed system.

<img width="879" alt="Screenshot 2022-05-05 at 12 07 05" src="https://user-images.githubuser

[2022-05-05 11:10] sammachin commented on #99
OK, can we change the title of `Cloud Enterprise` to just `Enterprise` though, the first really sounds a bit too fluffy!

[2022-05-05 11:14] joepavitt commented on #91
Worth noting that design updates are being shared to #99 which addresses some of the points ZJ has raised.

[2022-05-05 11:15] joepavitt commented on #99
Any objection if I also change `FlowForge Cloud` to just `Cloud`?

[2022-05-05 11:17] sammachin commented on #99
Feels a little short just `Cloud`
We could have:
Community Edition
Cloud Edition
Enterprise Edition

?

[2022-05-05 11:18] ZJvandeWeg commented on #99
Love the second iteration @joepavitt. Great job. Agree with @sammachin and having "X edition". That works.

Good job everyone!

[2022-05-05 11:21] sammachin commented on #99
That then gives us a statement of "FlowForge is one product, available in 3 editions" which is quite a neat way to describe it in a conversation, certainly better than "flavours" I've been using until now 😂

[2022-05-05 11:46] joepavitt commented on #99
Alternative option:

<img width="1738" alt="Screenshot 2022-05-05 at 12 46 42" src="https://user-images.githubusercontent.com/99246719/166916810-d2070369-7bd3-42e7-837d-9fa63c37f752.png">

[2022-05-05 11:48] ZJvandeWeg commented on #99
I do like it, very clear on the pricing and like how it brings out the rest of design of the page better.

[2022-05-05 11:49] joepavitt commented on #99
It feels more "finished" to me

[2022-05-05 12:26] sammachin commented on #99
One small tweak the CTA buttons on each of the editions, is there a 3rd color we can use? I get the red for the cloud signup now, and making the community one a softer blue but is there something stronger we can use for enterprise?

[2022-05-05 12:36] sammachin commented on #99
I guess its the 2+1 thing that looks odd to me, I get having the focus on your primary CTA but when there's only 2 other options it feels odd them bing the same, what about having CE on a white button (maybe with the GH logo) and Enterprise on Teal?

[2022-05-05 12:38] joepavitt commented on #99
Not a fan of asymmetry

[2022-05-06 09:03] sammachin opened #106 "Colors on code blocks in docs unreadable"
### Current Behavior

The current CSS for code blocks in /docs uses dark text on a dark background which makes it unreadable.

For example `/docs/install/local`

![image](https://user-images.githubusercontent.com/187645/167101175-1b387587-6167-4a77-93ad-85aaa6fd0a12.png)

### Expected Behavior

Need contrast between text and background, will need all the different styles to be reviewed as some has

[2022-05-06 10:45] #92 closed, assigned to sammachin, PLCMercenary

[2022-05-06 11:12] joepavitt commented on #91
With the features/pricing extracted to "Pricing", and our "Product" page being changed to "Platform" - what content do we want to major on this page?

- Key Features (as per existing Product page?

and what else?

[2022-05-06 11:35] sammachin commented on #106
It didn't work locally for me, wonder if its related to the script that imports the docs from the other repo,

[2022-05-06 11:37] joepavitt commented on #106
hmmm... or a package version difference somewhere?

[2022-05-06 11:37] joepavitt commented on #86
@sammachin how do these style for you locally?

[2022-05-06 13:38] #99 closed

[2022-05-06 13:39] joepavitt commented on #91
New Pricing page has been merged in #107. This issue will now focus it's attention on a re-worked "Platform" page as per discussion above.

[2022-05-06 13:58] joepavitt commented on #86
Potentially linked to: https://github.com/tailwindlabs/tailwindcss/discussions/7305

[2022-05-10 08:54] joepavitt commented on #98
@knolleary is this an RM task, or a _you_ task?

[2022-05-10 08:54] knolleary commented on #98
I'm happy to write it this time around.

[2022-05-10 08:55] knolleary commented on #98
What I should have said is... From a process standpoint, its for the RM to coordinate *someone* to get it written.

[2022-05-10 08:56] joepavitt commented on #98
In that case, I consider my RM contribution for this task complete

[2022-05-11 10:45] #91 closed

[2022-05-12 21:21] #98 closed

[2022-05-12 21:46] knolleary opened #113 ""What value does FF bring to Node-RED""
We were asked this on twitter earlier:

It's a super simple question, but not one I think we answer well on the website currently - particularly the 'what value FF brings to Node-RED'.

I don't see this as something for the product page to cover. It could be a blog post, but that will become less discoverable over time.

My suggestion is:

 - add an open-source section to the site (`flowforge.com/

[2022-05-13 08:58] sammachin commented on #113
Is this purely an open-source question though or is it more of a general product one?

[2022-05-16 10:14] knolleary opened #115 "Missing links to /docs"
### Current Behavior

The website does not have any links to the `/docs` section.

### Expected Behavior

A user can find the documentation!

### Steps To Reproduce

_No response_

### Environment

_No response_

[2022-05-23 13:51] ZJvandeWeg opened #119 "Add "Hosted in Ireland" to the product page for FF Cloud"
### Story

_No response_

### Description

Right now there's no advertisement of where FlowForge is hosted. It being hosted in Europe a something we should list as a feature.

[2022-05-23 13:51] ZJvandeWeg commented on #119
@joepavitt I broke the table on the page trying to implement this in a quick and dirty way. Do you know how to elegantly pick this up?

[2022-05-24 08:13] joepavitt commented on #119
Without seeing what code changes you've made, it's difficult to know what you did wrong - do you have a branch I can look at?

[2022-05-24 08:22] joepavitt opened #122 "Plausible Page Names"
### Story

_No response_

### Description

Currently, plausible provides us information about routing based on the URLs of each page. This is fine for static sites, however, it gives us skewed information as team/project views contain team/project ids in the URLs, meaning that we lose the grouped data to inform us of common navigation paths.

We need to investigate whether Plausible can provide da

[2022-05-24 08:25] joepavitt commented on #122
Not alone in our request for this: https://github.com/plausible/analytics/discussions/136

[2022-05-25 15:01] joepavitt opened #126 "Write 0.5.0 Release Blog Post"
### Story

_No response_

### Description

Write announcement blog post for 0.5.0

[2022-05-30 11:25] ZJvandeWeg commented on #106
Has been fixed by: https://github.com/flowforge/website/pull/114

[2022-05-30 11:25] #106 closed

[2022-06-01 13:02] ZJvandeWeg opened #128 "Broken template: object doesn't respond to replace()"
### Current Behavior

[code]

### Expected Behavior

I can just run `npm run dev:eleventy`

### Steps To Reproduce

_No response_

### Environment

- Node.js version: ?
- npm version: ?
- Platform/OS: Apple M1
- Browser: Chrome

[2022-06-01 13:16] joepavitt commented on #128
Delete the contents of `website/src/handbook` (except for `handbook.json`).

I had this issue this morning, and @knolleary pointed to me to the fix. Eleventy isn't great at clearing out old built files that aren't used anymore.

[2022-06-01 13:19] #128 closed

[2022-06-08 08:40] joepavitt opened #130 "Callout Valuable Integrations"
### Description

As part of the landing page, we should be calling out recognisable integrations we offer (e.g. twitter, mqtt) that customers will relate to. Currently, our homepage is very vague.

Design to come, but my thinking at the moment is that we show 4+ high level groups of integrations we offer (e.g. socials, hardware), then beneath the icons/pictogram for each group, we list a few of th

[2022-06-08 08:41] joepavitt commented on #130
@Steve-Mcl can you run through these and group them into something sensible please that would appeal to our customers/stakeholders?

[2022-06-08 11:55] joepavitt commented on #78
First Draft/Pass, still some placeholders. Currently only 35s long (this may be enough?):

https://user-images.githubusercontent.com/99246719/172610223-54b85af5-5373-4660-b06a-69f20d3b68c8.mp4

[2022-06-08 11:57] joepavitt commented on #78
Thinking that the border of the white screen animations needs to be more obvious, and demonstrate some more depth to it? Possible screen reflection gimmick, or something like that?

[2022-06-08 11:59] joepavitt commented on #78
Think the pace of the "3000 Integrations Available" => "Easily Wire Components" transition feels like it decelerates too much

[2022-06-08 12:06] joepavitt commented on #78
Rather than "Easily Wire Components", thinking I should call out (or add to the graphic) explicit "API", "Hardware", "Services", eetc.

[2022-06-08 14:07] Steve-Mcl commented on #130
- Social: Twitter, Twillo, Telegram, Slack, WhatsApp, Discord, Facebook
- Cloud: AWS, Azure, S3
- Smart: Alexa, Azure Cognitive Services, Alexa, Google Home, IBM Watson, TensorFlow, ZWave, Zigbee
- Storage: MongoDB, MySQL, PostgreSQL, SQL Server, Redis, DB2, CouchDB, DashDB, CloudantDB
- Media: OpenCV, SVG, FFMPEG, Image Processing
- ~~File Support: CSV, Json, XML, YML, ONVIF~~ move to storage?
-

[2022-06-08 14:13] joepavitt commented on #130
Draft pass on how these will be laid out:
<img width="1322" alt="Screenshot 2022-06-08 at 15 13 19" src="https://user-images.githubusercontent.com/99246719/172638825-b9fbe068-89f3-484a-ace5-0ce810830e85.png">

[2022-06-08 14:15] Steve-Mcl commented on #130
What will be in the boxes Joe?

Where / how do you see the text displayed - as it is now in a CSV list?

[2022-06-08 14:15] joepavitt commented on #130
Can we think of an alternative term, instead of "Smart". I see what you're doing in grouping AI/Smart Home & Home IoT stuff together, but "Smart Home" and "AI" may not warrant their own groups? Arguably "Smart Home" could warrant it's own group actually...

[2022-06-08 14:16] joepavitt commented on #130
Placeholders for pictograms/icons that will match the style of the rest of the website. Just left them blank for now as to not get bogged down in iconography discussion/opinions

[2022-06-08 14:17] ZJvandeWeg commented on #130
I like the iteration on the homepage. I wonder though if we should invest in a onboarding guide? To answer "how" you integrate them.

[2022-06-08 14:18] joepavitt commented on #130
Would that not partly be responsibility to (to be hired) developer advocate/educator/content creator

[2022-06-08 14:27] Steve-Mcl commented on #130
TBH, Twillo & Telegram can be part of messaging too.  Not 100% certain categories are best fit.

An endless (mixed) list underneath the set of icons may be a better fit? Perhaps the text could be coded e.g. Database stuff in a different colour/format to AI etc?

[2022-06-08 14:41] ZJvandeWeg commented on #130
@joepavitt yes, but now it's everybody's responsibility. So we should start iterating

[2022-06-08 16:55] joepavitt commented on #130
First pass (with icons):

<img width="938" alt="Screenshot 2022-06-08 at 17 54 44" src="https://user-images.githubusercontent.com/99246719/172673505-2c8fa382-55f6-4a3f-8571-51a4382e004a.png">

[2022-06-09 10:13] sammachin commented on #130
Personally the word `Messaging` doesn't make me think of those things which are protocols,

I would also change Socials to Communications

[2022-06-09 10:27] joepavitt commented on #130
@sammachin any better?

<img width="912" alt="Screenshot 2022-06-09 at 11 27 31" src="https://user-images.githubusercontent.com/99246719/172826379-40143264-bebe-4bf3-b026-42bd0f605070.png">

[2022-06-09 15:44] joepavitt commented on #130
Closed by #132

[2022-06-09 15:44] #130 closed

[2022-06-09 16:18] Steve-Mcl opened #135 ""Get Started" button takes user to old blog post"
### Current Behavior

clicking "Get Started" button ...
![image](https://user-images.githubusercontent.com/44235289/172895260-8ab43a88-d496-4626-b491-a1f98acc0b23.png)

... takes us to an old blog post: https://flowforge.com/blog/2022/02/announcing-flowforge-cloud/

### Expected Behavior

Should start the sign up process

### Steps To Reproduce

click button

### Environment

ff website - at time

[2022-06-10 07:58] #135 closed

[2022-06-15 16:41] joepavitt commented on #78
Music Option 1:

https://user-images.githubusercontent.com/99246719/173880697-0ab5fa66-2dfa-4880-95b7-bcfb08df6ebc.mp4

[2022-06-15 17:00] joepavitt commented on #78
Music Option 2:

https://user-images.githubusercontent.com/99246719/173884003-ab6c8ad0-61bd-4ec4-a915-869c6b8fdc07.mp4

[2022-06-16 06:21] Steve-Mcl commented on #78
I like the background music in this one - mellow yet uplifting ;)

However, the intro is quite harsh (peaking) an doesnt seem "normalised" with the rest of the track.

Pretty much same as 👆 (intro peaking)

Otherwise, me likey.

[2022-06-16 08:12] joepavitt commented on #78
thanks @Steve-Mcl - I'll stick with the `_2` music and level out the intro.

For the getting started and tutorial type videos, going to sticking with the track we have in "Getting Started"

[2022-06-16 10:17] joepavitt commented on #78
Okay, unless any major objections (and a big thanks to @Steve-Mcl for assistance on the intro audio) I think we have our landing video:

https://user-images.githubusercontent.com/99246719/174047519-b2cd826d-5986-4bd5-a1cd-30f92da35080.mp4

[2022-06-16 10:36] knolleary commented on #78
Great job. The music is the right balance of chill and dont-send-me-to-sleep.

[2022-06-16 13:32] nerdjfpb opened #140 "Link issue in Footer (Website)"
### Current Behavior

Handbook link is going down after clicking!

https://user-images.githubusercontent.com/47062625/174080917-abdbb94b-8ccb-4702-97c7-d6a8e8b37bf1.MOV

### Expected Behavior

Should stay in same line (My opinion). But I can be wrong.

### Steps To Reproduce

1. Go to website from mobile or mobile view
2. Click on the handbook link

### Environment

- Platform/OS: iOS 15.5
- Brows

[2022-06-17 07:51] joepavitt commented on #140
Thanks for raising this @nerdjfpb - will get on the case to fix it.

[2022-06-17 07:53] joepavitt commented on #78
Had decided against the last item in the todo list (adding to Website homepage) for now, but have published to our YouTube Channel: https://www.youtube.com/watch?v=BBNzFInc_2E

This does raise a question though - maybe we should be linking to our YT from the website, and actually, maybe the landing video is a good way of doing that?

[2022-06-17 07:56] knolleary commented on #78
Aside from whether the video is on the home page or not, we should add a link to the channel in the footer alongside the other social links.

[2022-06-17 11:06] joepavitt opened #141 "Add link to Youtube Channel"
### Story

_No response_

### Description

Alongside our other social links, we should also include our Youtube Channel: https://www.youtube.com/channel/UCbBzP8NZbv3WDtlt4UouA-g

[2022-06-17 11:07] joepavitt commented on #78
issue opened: https://github.com/flowforge/website/issues/141

Can now close this issue.

[2022-06-17 11:07] #78 closed

[2022-06-17 11:19] joepavitt commented on #140
@nerdjfpb Which iPhone are you using for this? Struggling to find the resolution/sizing that triggers this issue.

[2022-06-17 11:21] nerdjfpb commented on #140
I am using iphone 13 pro max @joepavitt

[2022-06-17 11:27] #141 closed

[2022-06-17 11:44] knolleary opened #144 "0.7 Release Blog Post"
### Story

_No response_

### Description

_No response_

[2022-06-17 11:53] #140 closed

[2022-07-06 10:55] sammachin opened #147 "Theme for release posts"
### Epic

_No response_

### Description

Our release posts will be accompanied by a short video, published on our You Tube channel.
The format of the blog post is for the video to be first on the page, however this means that the default generated image and then the video pushes all the text way down the page.

Create a custom template (or modify the existing one) that allows an embedded YT video

[2022-07-06 12:17] knolleary commented on #147
We should modify the existing template to support this, rather than create a new one.

The current logic is here: https://github.com/flowforge/website/blob/main/src/_includes/layouts/post.njk#L28

If the post includes an `image` property in its front-matter, that will be used, otherwise it falls back to the auto-generated image.

I suggest modifying that logic so that if the post has a `video` pro

[2022-07-06 15:25] #147 closed

[2022-07-07 13:21] #144 closed

[2022-07-14 10:33] sammachin commented on #38
@zj can this be closed?

[2022-07-14 10:35] #38 closed

[2022-07-14 10:35] #72 closed

[2022-07-14 10:36] #28 closed

[2022-08-12 15:40] knolleary opened #158 "Move 'billed annually' suffix into the Enterprise box"
### Story

_No response_

### Description

Feedback on the pricing page.

The 'Enterprise Edition is billed annually' footnote only applies to one of the Editions, but appears centralised underneath an edition that it doesn't apply to.

Feedback suggested moving that footnote inside the Enterprise Edition box to make it clearer.

<img width="839" alt="image" src="https://user-images.githubusercont

[2022-08-12 15:48] knolleary opened #159 "Product comparison page unclear on 'configurable infrastructure' and 'FlowForge Managed'"
### Story

_No response_

### Description

Feedback on the product page.

The Configurable Infrastructure and FlowForge Managed items aren't clear on what they mean.

<img width="977" alt="image" src="https://user-images.githubusercontent.com/51083/184392990-9a27c50e-1033-4396-b063-b62ef93ac025.png">

[2022-08-16 15:38] ZJvandeWeg opened #161 "Solution pages"
### Description

FlowForge doesn't have concrete copy on what problem we're solving exactly for our customers. Right now our marketing is focussed very broadly on Node-RED in general.

Our corporate website should have dedicated pages for the different solutions FlowForge provides today.

[2022-08-16 15:40] ZJvandeWeg opened #162 "Solution: Digital Integration"
### Epic

#161

### Description

### As a: potential customer

### I want to: understand how to use FlowForge to integrate digital services

### So that: I understand if this a product I might want to buy as it solves my challenges.

### Acceptance Criteria

- [ ] Concrete examples
- [ ] Use-case?
- [ ] ...

[2022-08-17 18:54] ZJvandeWeg commented on #159
@sammachin @joepavitt Can you post an update on this issue?

[2022-08-18 07:36] sammachin commented on #159
These items were a result to the change from the original proposal to have the 4 versions with the switch between self hosted and FlowForge managed.

It comes down to the following:
With Community Edition you have to manage the underlying infrastructure yourself, eg the host, Docker, K8s etc.
However because of this you can also configure the infrastructure to your own requirements, container size

[2022-08-19 10:44] joepavitt commented on #158
![Image](https://user-images.githubusercontent.com/99246719/185602122-494892b4-8334-4eb5-8ee1-535f23914062.png)

[2022-08-23 08:27] ZJvandeWeg opened #183 "Feature: Tooltip to provide more text detail"
### Story

_No response_

### Description

On our pricing page there's multiple line items that might need extra text to explain what we mean. As such I'd like to use a tooltip.

It would be great to have these in this repository.

[2022-08-30 14:36] #119 closed

[2022-09-01 14:30] Steve-Mcl opened #170 "Front page ~inaccurate~ too modest - there are now over 4000 contributions"
### Current Behavior

![image](https://user-images.githubusercontent.com/44235289/187939335-771af9b6-9e46-4abd-9ef2-15994371d4b3.png)

### Expected Behavior

Should be updated to reflect there are now over 4000 contributions

![image](https://user-images.githubusercontent.com/44235289/187939617-70d2d751-ea1e-4369-9709-4e8d1e57604c.png)

### Steps To Reproduce

visit homepage https://flowforge.com/

[2022-09-01 15:28] knolleary commented on #170
https://github.com/flowforge/website/pull/168 already has the change to update the number.

[2022-09-01 17:09] #170 closed

[2022-09-02 16:05] knolleary commented on #159
I think there are some super simple changes that remove the unclear parts. This page doesn't need to get into all the nuance - the point is essentially "who runs the platform".

In the interests of improving the clarity of the page, and it being 3 weeks since this feedback was provided by a key stakeholder, I've raised #171 to address it.

[2022-09-02 19:44] #159 closed

[2022-09-14 14:08] ZJvandeWeg commented on #113
@robmarcer Would be great this could be clearer on the website what we offer over vanilla Node-RED. Would be great if this issue could be on your todo list.

[2022-09-26 14:28] ZJvandeWeg opened #175 "Rebrand 'Cloud' to SaaS"
### Epic

_No response_

### Description

Customers might host FlowForge in the cloud too, as such the branding of "Cloud" doesn't specify a different edition or tier. Rebranding should remove "Cloud" working in favour of SaaS.

### Acceptance Criteria

- [ ] criteria 1
- [ ] criteria 2
- [ ] criteria 3
- ...

[2022-09-26 14:28] ZJvandeWeg commented on #175
@knolleary Did you volunteer to pick this up?

[2022-09-26 14:35] knolleary commented on #175
Yup - will get a first iteration PR in place

[2022-09-28 09:53] #175 closed

[2022-09-29 07:43] sammachin opened #177 "Release 0.10.0 Blog post"
### Story

_No response_

### Description

_No response_

[2022-09-29 07:43] sammachin opened #178 "Release 0.10.0 Video"
### Story

_No response_

### Description

_No response_

[2022-09-30 11:09] knolleary opened #181 "Release: 1.0 blog post"
### Story

_No response_

### Description

 - Capture key highlights and messages for the 1.0 release blog post

[2022-09-30 11:10] knolleary opened #182 "Release: 1.0 release video"
### Story

_No response_

### Description

 - Capture key highlights and content for the 1.0 release video

[2022-10-05 14:28] joepavitt opened #184 "Add product imagery/screenshots/videos to homepage"
### Story

_No response_

### Description

Currently, whilst we flaunt our features & integrations, we lack visual insights into what Flowforge is and does. I always feel like companies that don't show what their product looks like have something to hide - we do not.

Even pseudo-screenshots as per https://fleetdm.com/ would work well, as it also then means we do not need to update the website eve

[2022-10-10 06:45] #178 closed

[2022-10-10 06:46] #177 closed

[2022-10-12 10:02] robmarcer commented on #113
I've done a PR for this, I feel it needs some work but hopefully it's a good starting point.

https://github.com/flowforge/flowforge/pull/1060

[2022-10-13 13:57] Pezmc opened #193 "Clearer overall Handbook navigation"
### Story

_No response_

### Description

#### As a:

Team Member / interested third party

#### I want to:

- See an overview of all the pages in the handbook
- Be able to browse the whole handbook in an easy order

#### So that:

- I can quickly find the information that's relevant to me
- I know what is and isn't in the handbook at a glance

----

Noticed when going through the handbook for th

[2022-10-13 14:00] joepavitt opened #194 "Product Evolution"
### Epic

_No response_

### Description

**As a:** prospective customer

**I want to:** get a clear picture of how FlowForge has evolved, how fast they ship, and what may be to come

**So that:** I can entrust them to deliver value to my organisation with their products

_**Inspiration:**_
- The "We ship weirdly fast" section on [PostHog's homepage](https://posthog.com/)

### Acceptance Criteria

[2022-10-13 14:37] ZJvandeWeg commented on #193
@Pezmc Do you want a user friendly sitemap: https://developers.google.com/search/docs/crawling-indexing/sitemaps/overview?

[2022-10-13 14:40] Pezmc commented on #193
I don't think something fully automated fills this gap; but something halfway between a true sitemap and the current table of contents would probably work (as well as making the "on this page" section less confusing).

[2022-10-13 15:22] joepavitt commented on #194
A quick dump in Figma of what this could look like, where the gradient of the line follows the curve around, rather than just being absolutely left/right.

<img width="1286" alt="Screenshot 2022-10-13 at 16 18 58" src="https://user-images.githubusercontent.com/99246719/195637517-0a0ddaa6-748a-4848-95a7-008c87c3afa3.png">

When hovering on a single element, the node expands to show an image/screens

[2022-10-14 10:08] joepavitt opened #214 "Identical heading styling for different headings"
### Current Behavior

`/docs/install/local` age has nested headings in the "Mosquitto" section that look like new sections, but are in fact children elements.

Here, `Mosquitto` is a parent heading of `Manual`

<img width="724" alt="Screenshot 2022-10-14 at 11 08 32" src="https://user-images.githubusercontent.com/99246719/195821659-89ec00e2-0b38-4ffd-9084-4e6592e6b930.png">

### Expected Behavior

[2022-10-15 14:52] joepavitt commented on #184
First pass at design/layout:

<img width="1119" alt="Screenshot 2022-10-15 at 15 51 50" src="https://user-images.githubusercontent.com/99246719/195992867-23adce25-961b-4178-906a-425a850265b6.png">

[2022-10-15 15:44] joepavitt commented on #193
Agree with this - the biggest confusion with the handbook imo is the "On This Page" widget often reads like a Table of Contents, but actually, the ToC is often embedded in the page.

[2022-10-15 15:47] joepavitt commented on #194
Something a bit more "flow-like - again excuse the odd gradient, limitations of Figma.

<img width="1571" alt="Screenshot 2022-10-15 at 16 47 03" src="https://user-images.githubusercontent.com/99246719/195995531-6613ed50-0182-4fd2-aa26-9b73f6a74906.png">

[2022-10-16 16:46] joepavitt opened #199 "Clearer CTAs on Homepage"
### Story

_No response_

### Description

Currently, we have the following CTAs:

<img width="1076" alt="Screenshot 2022-10-16 at 17 44 56" src="https://user-images.githubusercontent.com/99246719/196047581-81bda264-c4e1-410f-aea2-eb3a56942eb2.png">

at the point of first arrival, new customers/visitors are unlikely to have knowledge of our different offerings, as such "Sign Up" and "Install" are

[2022-10-16 17:02] joepavitt commented on #161
Not a full page, but I really like this on n8n's home page:

<img width="1604" alt="Screenshot 2022-10-16 at 13 49 18" src="https://user-images.githubusercontent.com/99246719/196048360-d256dc95-d077-49b2-9221-f207ff7ad172.png">

[2022-10-17 08:40] knolleary commented on #199
If you want to avoid a can of worms, then don't use the term we've just done the work to remove from the site :)

If you want a quick iteration, then copy the wording from the Product page's CTA:

<img width="362" alt="image" src="https://user-images.githubusercontent.com/51083/196131222-ca971b95-6af6-487a-adde-559f7befa7e2.png">

[2022-10-17 14:58] joepavitt opened #202 "Homepage Demo Video"
### Story

_No response_

### Description

For 1.0 Release, we are revamping the website to ensure clear messaging around what FlowForge is and offers as a product. As part of this, we need a 1-2 minute video demo'ing FlowForge and it's capabilities.

<img width="1155" alt="Screenshot 2022-10-17 at 15 56 42" src="https://user-images.githubusercontent.com/99246719/196211045-61b62f2d-b734-48fd-a542-

[2022-10-17 15:03] joepavitt opened #203 "Website 1.0"
### Description

Wrapping epic to cover updates required to the Website ahead of 1.0 Release

### Tasks:

Importance: _High_
- [x] https://github.com/flowforge/website/issues/184
- [x] https://github.com/flowforge/website/issues/199
- [x] https://github.com/flowforge/website/issues/202
- [x] https://github.com/flowforge/website/issues/209

Importance: _Medium_
- [ ] https://github.com/flowforge/we

[2022-10-17 15:09] joepavitt commented on #184
Focus here on the secondary tagline "Run Node-RED in Production" - or some variation of.

Then list our 3 - 4 key items as to what FlowForge is bringing to the table. This content would target users familiar with Node-RED.

For users not familiar with Node-RED, the "What is Ndoe-RED" link would navigate to a FF hosted page dedicated to "What is Node-RED" that tells the story of FF, whilst also int

[2022-10-17 15:10] joepavitt commented on #113
I'd like to articulate @robmarcer's points clearer for those visiting the website too. As part of https://github.com/flowforge/website/issues/184 I have proposed including a "What is Node-RED" link on our homepage, which would navigate to a dedicated FF-hosted page, which could look something like:

<img width="866" alt="Screenshot 2022-10-17 at 16 05 25" src="https://user-images.githubusercontent

[2022-10-18 09:21] robmarcer commented on #202
@joepavitt as discussed I think this would really benefit from Nick being on the video as a talking head.

[2022-10-18 12:56] joepavitt commented on #202
Yep - agreed. @knolleary will assign to you, as we've discussed this too. @robmarcer can you share the draft story you recorded please?

[2022-10-18 17:05] #199 closed

[2022-10-19 16:13] joepavitt commented on #113
First pass of a "What is Node-RED" page added here: https://github.com/flowforge/website/pull/206

Not got the explicit "What is FF adding" just yet, apart from a short single line at the end of the intro text.

[2022-10-20 10:40] #184 closed

[2022-10-20 10:56] joepavitt opened #208 "Custom Posthog Events for Primary CTAs"
### Story

_No response_

### Description

Posthog enables analysis of user paths. Whilst we have a good understanding of users > CTA through posthog funnels, this requires us to make pre-defined/expected journeys - it's normally used for something like racking a user through a purchase journey.

Given our CTAs are more flexible, and appear at various points across our application, it would be ben

[2022-10-20 11:08] joepavitt opened #209 "Redesign Pricing Page"
### Epic

#203

### Description

**As a:** prospective customer of FlowForge

**I want to:** get a clear understanding of my options and costs associated to the platform

**So that:** I can make an informed decision as to whether FF is for me, and if so, which hosting/deployment option best suits my needs

Original Design:

<img width="1664" alt="Screenshot 2022-10-20 at 13 08 09" src="https://use

[2022-10-20 12:58] knolleary commented on #209
Works for me

[2022-10-20 14:25] joepavitt commented on #202
Alternative Design. Think I prefer my original plan.

<img width="1093" alt="Screenshot 2022-10-20 at 15 25 12" src="https://user-images.githubusercontent.com/99246719/196975991-72f65e6c-dcae-465a-853e-7533672eb729.png">

[2022-10-20 14:31] knolleary commented on #202
My plan was to start from the point of a user who is already signed up and a member of a team - so we can get to the 'create a node-red project easily' bit much quicker.

1. Login
2. Create project
3. Open Node-RED - create a simple flow that includes logging regularly to console.
4. In platform show other views of the project, include logs that should the flow console output
5. Register a device,

[2022-10-20 14:39] joepavitt commented on #202
wrap up should be clear CTAs, something like:

[2022-10-20 14:40] joepavitt commented on #202
I am cautious of showing off console/terminal for a platform that is meant to be low-code - can we keep this browser-constrained?

[2022-10-20 15:13] joepavitt opened #210 "Review Product Page"
### Epic

#203

### Description

Review the content, and redesign where appropriate, the Product page. Refinement and explicit mentioning should be made of FlowForge being ONE product, no mentions of "editions", etc.

Then focus should be put on the different hosting options.

I believe consideration should also be made to remove the "product" page entirely, and all relevant content should be made

[2022-10-20 16:23] joepavitt commented on #209
@knolleary We make explicit mention on this page of features being "On the Roadmap" - which version of our roadmap am I best linking to here?

[2022-10-20 16:31] knolleary commented on #209
We have the roadmap project board. However I'm not sure how well it works as a standalone thing for someone to browse without any context currently. For example, it doesn't include the items we know we want to get to eventually, but don't have planned in the next 1-3 releases. It is also getting a bit unwieldy as it has the historical releases - and all the current/future stuff is now scrolled off

[2022-10-20 18:05] ZJvandeWeg commented on #209
@knolleary @joepavitt

We can keep it high level, with our 1 year goals based on the 4 pillars. That prevents churn on this page too.

1. Enterprise: Most secure and compliant way to run
2. Devices: Deploying to and maintaining your flows where ever they're deployed (attaching a remote NR, sending errors etc back to FF, etc etc)
3. Best place to run NR: Invest in dash boarding that's multi-tenant

[2022-10-20 18:06] ZJvandeWeg commented on #209
The proposal is great! :shipit:

[2022-10-21 10:48] joepavitt commented on #209
Desktop:

https://user-images.githubusercontent.com/99246719/197178596-8eff4f6c-e5da-40ac-9ee7-758d412e3ea2.mov

Mobile:

https://user-images.githubusercontent.com/99246719/197178790-7b13e897-6494-4d05-b939-ddc051c943f1.mov

[2022-10-21 14:37] joepavitt commented on #210
**Review of existing content:**

With the latest changes made to the homepage (https://github.com/flowforge/website/issues/203) & pricing (https://github.com/flowforge/website/pull/211) we have clearer messaging on those pages. As such, the Product page is now repeating a lot of content, found on these pages.

From Posthog we can see that a lot of users go from `homepage > pricing > product` or `h

[2022-10-21 14:40] joepavitt commented on #210
**Desired Direction:**

I would like the Product to become UI/UX heavy. Screenshots and videos showing how to walkthrough our major features. Those features could include:

- Setting up a project
- Project rollback/snapshots
- Managing users/teams
- Device Deployment
- Inter project communication/nodes?
- Audit Logs

[2022-10-22 15:01] joepavitt commented on #209
Closed by https://github.com/flowforge/website/pull/211

[2022-10-22 15:01] #209 closed

[2022-10-22 15:16] joepavitt commented on #214
Issue caused by the Tailwind `prose` only providing default styling for `h1` > `h4`. Will redefine styles for our headings to prevent a requirement to restructure docs.

[2022-10-25 08:13] joepavitt opened #218 "Numeric Header Styles in Docs & Handbook"
### Story

_No response_

### Description

First mentioned here: https://github.com/flowforge/website/pull/215#issuecomment-1287832852

Build an automated generator for adding in numeric prefixes to headings in our docs & handbook to make section navigation easier.

[2022-10-25 08:19] joepavitt opened #219 "Link to Security Statement"
### Story

_No response_

### Description

https://github.com/flowforge/website/pull/213#issuecomment-1289388783

[2022-10-25 12:38] joepavitt commented on #182
Working with @robmarcer on this one

[2022-10-25 12:50] knolleary commented on #182
So does that mean we're aiming for *three* videos this week?

 - 1.0 release video
 - What is FlowForge
 - Quick intro to flowforge #202

[2022-10-25 12:51] joepavitt commented on #182
I believe so - the "What is FlowForge" will mostly be an update of https://www.youtube.com/watch?v=BBNzFInc_2E I think, unless I'm mis-understanding what we need?

[2022-10-25 12:55] #214 closed

[2022-10-26 09:29] joepavitt commented on #202
Target time of 2 mins (max)

[2022-10-26 09:31] robmarcer commented on #182
Features to cover in the video.

[Add well-defined env vars to launcher/device environments#841](https://github.com/flowforge/flowforge/issues/841)

[Preinstall Palette Nodes#405](https://github.com/flowforge/flowforge/issues/405)

[Import Credentials#835](https://github.com/flowforge/flowforge/issues/835)

[2022-10-27 07:19] Pezmc commented on #214
Verified on prod (though not tied to release)

[2022-10-27 15:54] joepavitt commented on #203
High Importance items delivered, all others will move as tasks to iteration 1.1

[2022-10-27 15:54] #203 closed

[2022-10-27 15:56] joepavitt commented on #210
Product page removed for 1.0 due to time constraints in #213. We should have a version of this re-designed and developed for 1.1

[2022-10-27 15:56] #210 closed

[2022-10-27 16:21] #219 closed

[2022-10-28 08:37] joepavitt opened #226 "Add Share Images"
### Story

_No response_

### Description

Design and add share image to the website so that when someone shares our homepage, it is more aesthetically pleasing. We can see a preview of what these would look like on various socials here: https://socialsharepreview.com/?url=https://flowforge.com/

[2022-10-28 08:38] joepavitt commented on #226
https://kaydee.net/blog/open-graph-image/

[2022-10-28 08:55] knolleary commented on #182
Release video updated via https://github.com/flowforge/website/pull/225

[2022-10-28 08:55] #182 closed

[2022-10-28 19:34] #226 closed

[2022-11-04 13:55] robmarcer opened #236 "Ability to add custom images to blog post headers where we have something suitable"
### Epic

_No response_

### Description

### As a: person who writes for the blog

### I want to: be able to replace the auto generated images with an image I upload myself

### So that: I can make the different types of blog posts stand out more.

### Acceptance Criteria

- [ ] Have a way to set the image path.
- [ ] Where that is not set revert to an image generated by the existing code.
- [ ]

[2022-11-07 15:37] robmarcer opened #237 "The unsub link on the Buttondown newsletters does not work"
### Current Behavior

When I click the link to unsub it should allow me to opt out of the mailing list.

### Expected Behavior

It takes me to the homepage.

### Steps To Reproduce

Follow an unsub link on the footer of the newsletter.

http://email.flowforge.com/c/eJyNjkuKxDAMRE8T7xxsWf5k4UVv5hqNbMvTgXwaJ6GvPyab2TaIQiWq0OOonfM2aAValMjkMwYxR1AAWivUznqlxwKTArbGo5-8rWFAVZf9U_f2y2PeV_GKlpUJPkMgVM4nzB

[2022-11-07 15:52] robmarcer commented on #237
I suspect this is a DNS issue for the domain email.flowforge.com. I'm working on getting to the bottom of it.

[2022-11-07 15:56] robmarcer commented on #237
It does look to be unsubscribing people who follow the link but it's not confirming to them that was done.

[2022-11-07 16:30] robmarcer commented on #237
I've raised this with the provider of our email list, I don't think the problem is on our side.

[2022-11-09 13:19] ZJvandeWeg commented on #113
Think this can be closed with the video from Nick, should we close @joepavitt ?

[2022-11-09 13:20] ZJvandeWeg commented on #194
@joepavitt Maybe it would be nice if the flow is generated based on a JSON in this project or so, so it's easier to add things to it?

[2022-11-15 16:54] joepavitt commented on #113
https://www.hivemq.com/hivemq/mqtt-broker/ from @ZJvandeWeg - looking at how we communicate the barrier between FF and NR

[2022-11-15 16:56] joepavitt commented on #194
Agreed - this is likely to be a 1.2 task now though

[2022-11-15 16:57] joepavitt commented on #208
@hardillb do we have any hard/guaranteed steps in the domain of flowforge.com that we can monitor _after_ they've arrived at the `/install/...` page for local/docket/k8s?

[2022-11-17 17:07] #181 closed

[2022-11-17 17:08] knolleary opened #246 "Release: 1.1 blog post"
### Story

_No response_

### Description

_No response_

[2022-11-17 17:08] knolleary opened #247 "Release: 1.1 release video"
### Checklist

- [ ] Agree on Key points to highlight
- [ ] Gather screen recordings
- [ ] Cut the video

[2022-11-17 17:09] ZJvandeWeg commented on #246
PR: https://github.com/flowforge/website/pull/238

[2022-11-17 17:20] joepavitt commented on #113
I still think, in addition to website/product page changes, we should write an explicit blog/article with this title.

[2022-11-18 12:47] knolleary opened #248 "Add script to docs pages to add `target=_blank` to all external links"
### Story

_No response_

### Description

Our docs have a number of external links (such as the install section linking to node.js).

Currently they open the page in the current tab, losing your place in the docs. It would be better to open them in a new tab. Rather than have to remember to add every time we add a new link (with all the various ways markdown links get rendered), we should add a s

[2022-11-18 15:04] #248 closed

[2022-11-21 10:06] Steve-Mcl opened #250 "Support for footnotes"
### Current Behavior

Related: https://github.com/flowforge/flowforge/pull/1249

Currently, GitHub renders footnotes correctly/nicely, our site does not.

<br>

https://flowforge.com/docs/install/local/#upgrade ...
![image](https://user-images.githubusercontent.com/44235289/203022600-f2a3a9b8-81a9-4676-ac92-2a915c2fe697.png)

<br>

https://github.com/flowforge/flowforge/blob/main/docs/install/loca

[2022-11-21 15:31] Steve-Mcl opened #251 "Local development doesnt work for windows"
### Current Behavior

Many of the scripts fail due to the following...
1. running `/bin/sh` before a `.sh` file
2. setting env vars inline
3. `mkdir -p` is not supported

### Expected Behavior

1. Using `bash` instead of `/bin/sh` would work for windows so long as gitbash is installed as prereq (normally installed with git)
2. Using `cross-env` fixes setting of env vars
3. Consider using `npx mkdi

[2022-11-22 09:44] Steve-Mcl commented on #250
Verified working on live - see here: https://flowforge.com/docs/install/local/#upgrade 🥳

[2022-11-22 09:54] joepavitt commented on #247
@robmarcer are you able to take the video this release? Hoping the new docs & Premiere Pro way of working should make this super easy. I'm out on Thursday, but around tomorrow if you want a shadow to check it's okay?

[2022-11-22 14:37] joepavitt opened #254 ""Features" Page"
### Story

_No response_

### Description

- [x] https://github.com/flowforge/website/pull/271
- [ ] https://github.com/flowforge/website/pull/273
- [ ] https://github.com/flowforge/website/issues/292
- [ ] https://github.com/flowforge/website/issues/194

Inspiration:
- https://confluent.io

[2022-11-23 08:12] ZJvandeWeg opened #255 "Explain Node-RED and how it relates to FlowForge"
### Epic

_No response_

### Description

_No response_

### Acceptance Criteria

- [ ] flowforge.com/node-red explains:
   - [ ] What is Node-RED, what jobs/systems can it do (iPaas, etc)
   - [ ] Where is Node-RED used
   - [ ] Why Node-RED is the best

[2022-11-23 08:12] ZJvandeWeg commented on #255
@robmarcer Can you pick this up in the new release cycle?

[2022-11-23 10:11] #251 closed

[2022-11-23 15:52] joepavitt commented on #254
I like the krysp approach of having a "Features" page, rather than "Product": https://www.krysp.io/features

"Product(s)" is suitable if we have more than one, but we seemed set on saying we have _one_ product - FlowForge, not a breakdown of FlowForge Cloud/Comminity, etc.

[2022-11-23 17:06] joepavitt commented on #254
@ZJvandeWeg based on the conversations you've been having, could you drop 5-10 FAQs here please

[2022-11-23 17:40] joepavitt commented on #254
Very rough draft layout:

<img width="617" alt="Screenshot 2022-11-23 at 17 40 36" src="https://user-images.githubusercontent.com/99246719/203613487-3d897601-e4ee-4c3e-960a-4864e461d811.png">

[2022-11-23 17:44] ZJvandeWeg commented on #254
I'm aboard with "Features" over "product"

[2022-11-24 15:15] #246 closed

[2022-11-24 15:58] ZJvandeWeg opened #259 "Allow last blogs title to take the full line width"
### Story

_No response_

### Description

In the overview page for blog posts the last blog article doesn't get the full line width for the title:

<img width="596" alt="Screenshot 2022-11-24 at 16 31 11" src="https://user-images.githubusercontent.com/2529595/203825829-66bc4ea0-3686-488f-a53e-5ffab06861e0.png">

[2022-11-24 21:19] #247 closed

[2022-11-24 23:01] knolleary commented on #208
Following the work in 1.1 to improve the install docs for Local, I believe the 'expected' journey is:

 1. Get to https://flowforge.com/docs/install/local/
 2. (they may choose to look at https://flowforge.com/docs/install/configuration , but that is optional in the text)
 3. Go to https://flowforge.com/docs/install/first-run/
 4. If they get to the end of 'first-run', they are directed to https:/

[2022-11-25 08:49] ZJvandeWeg commented on #237
@robmarcer Any feedback on this issue? Or should we just move away from buttondown? They keep having issues.

[2022-11-25 08:50] ZJvandeWeg commented on #236
@robmarcer can this issue be closed?

[2022-11-30 11:29] ZJvandeWeg commented on #254
Features to talk about: high level:
- Orchestration
- Fleet Management
- Standardised development (templates/ stacks)
- Collaboration